.AccountPage
  .AccountPage__title
    %h2 Edit Account
    %h5 アカウントの編集
    = link_to "ログアウト", '#', class: 'Button'
    = link_to "マイページに戻る", :back, class: 'Button'
  .AccountPage__form
    = form_for(current_user) do |f|
      .FormField
        .FormField__label--normal
          = f.label :プロフィール写真を変更
        .FormField__input--normal
          = f.text_field :profile_image, autofocus: true
      .user_name
        = current_user.nickname
      .FormField
        .FormField__label--normal
          = f.label :ニックネーム
        .FormField__input--normal
          = f.text_field :nickname, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :メールアドレス
        .FormField__input--normal
          = f.email_field :email
      .FormField
        .FormField__label--normal
          = f.label :自己紹介
        .FormField__input--normal
          = f.text_area :profile_text
      
      = f.submit "Update", class: 'Button UserButton'