= render partial: "layouts/header"

.main_profile_contents
  .profile_image_content
    .profile_image-pic
      - if @user.profile_image?
        = image_tag @user.profile_image.to_s
      - else
        = image_tag current_user.avatar.to_s
      
  .profile_main_content
    .profile_user_box
      .profile_user_name
        =  @user.nickname
      - if user_signed_in? && current_user.id == @user.id
        .profile_edit_btn
          = link_to 'プロフィールを編集', edit_user_path(@user), method: :get
    .profile_user_text
      =  @user.profile_text
- @posts.each do |post|
  .post_mainscreen
    .post_header
      .user_profile_image
        - if post.user.profile_image?
          = image_tag post.user.profile_image.to_s
        - else
          = image_tag current_user.avatar.to_s
      .user_nickname
        = post.user.nickname
      .post_title_box
        .post_title_name
          = post.title
      .post-controll-btn
        .like_btn{id: "likes_buttons_#{post.id}"}
          = render partial: "likes/like", locals: {post: post}
        .comment_icon
          = link_to post_path(post.id), method: :get do
            %i.far.fa-comment
        %ul.options-post
          = icon('fa', 'ellipsis-h')
          - if user_signed_in? && current_user.id == @user.id
            %li.delete_link
              = link_to '削除', post_path(post.id), method: :delete
            %li.edit_link
              = link_to '編集', edit_post_path(post.id), method: :get

    .post__content
      - if post.image.present?
        .post__content--pic
          = image_tag post.image.to_s
        .post__content--textbox
          .user_nickname
            = post.user.nickname
          .post__content--text
            = post.text
      - else
        .post__content--textbox
          .user_nickname
          = post.user.nickname
          .post__content--text
            = post.text

= render partial: "layouts/footer"
  
  