= render partial: "layouts/header"
.wrapper 
  - @posts.each do |post|
    .post_mainscreen
      .post_header
        .user_profile_image
          - if post.user.profile_image?
            = link_to image_tag(post.user.profile_image.to_s), user_path(post.user_id), method: :get
          - else
            = link_to image_tag(post.user.avatar.to_s), user_path(post.user_id), method: :get
        .user_nickname
          = post.user.nickname
        .post_title_box
          .post_title_name
            = post.title
        .post-controll-btn
          .like_btn{id: "likes_buttons_#{post.id}"}
            = render partial: "likes/like", locals: {post: post}
          .comment_icon
            = link_to post_path(post.id), method: :get do
              %i.far.fa-comment
          %ul.options-post
            = icon('fa', 'ellipsis-h')
            - if user_signed_in? && current_user.id == post.user_id
              %li.delete_link
                = link_to '削除', post_path(post.id), method: :delete
              %li.edit_link
                = link_to '編集', edit_post_path(post.id), method: :get

      .post__content
        - if post.image.present?
          .post__content--pic
            = image_tag post.image.to_s
          .post__content--textbox
            .user_nickname
              = post.user.nickname
            .post__content--text
              = post.text
            %input{ type: "checkbox", id: "label1", class: "chenge-btn" }
            -# .translate-btn
            -#   %label cheat?
            .post__content--text--english
              = translator(post.text)
        - else
          .post__content--textbox
            .user_nickname
              = post.user.nickname
            .post__content--text
              = post.text
            %input{ type: "checkbox", id: "label1", class: "chenge-btn" }
            -# .translate-btn
            -#   %label cheat?
            .post__content--text--english
              = translator(post.text)
        
= render partial: "layouts/footer"