= render partial: "layouts/header"
  
.post_mainscreen
  .post_header
    .user_profile_image
      - if @post.user.profile_image?
        = link_to image_tag(@post.user.profile_image.to_s), user_path(@post.user_id), method: :get
      - else
        = link_to image_tag(current_user.avatar.to_s), user_path(@post.user_id), method: :get
    .user_nickname
      = @post.user.nickname
    .post_title_box 
      .post_title_name
        = @post.title
    .post-controll-btn
      .like_btn{id: "like-btn-event"}
        = render partial: "likes/like", locals: {post: @post}
      -# - if current_user.already_liked?(@post)
      -#   = link_to post_likes_path(@post), method: :delete do
      -#     %i.fas.fa-heart
      -# - else
      -#   = link_to post_likes_path(@post), method: :post do
      -#     %i.far.fa-heart
      -# = @post.likes.count
      %ul.options-post 
        = icon('fa', 'ellipsis-h')
        - if user_signed_in? && current_user.id == @post.user_id
          %li.delete_link
            = link_to '削除', post_path(@post.id), method: :delete
          %li.edit_link
            = link_to '編集', edit_post_path(@post.id), method: :get
        
  .post__content
    - if @post.image.present?
      .post__content--pic
        = image_tag @post.image.to_s
      .post__content--textbox
        .user_nickname
          = @post.user.nickname
        .post__content--text
          = @post.text
    - else
      .post__content--textbox
        .user_nickname
          = @post.user.nickname
        .post__content--text
          = @post.text

  .comment__box
    - if current_user
      = form_with model: [@post, @comment], id: "new_comment", remote: true do |form|
        = form.text_area :text, placeholder: "コメントする", class: "comment-form-box"
        = form.submit "投稿する", class: "comment-btn"
      .comment-lists{id: "comments-event"}
        = render partial: "comments/comment", locals: {comment: @comments}
    - else
      %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
            
= render partial: "layouts/footer"
        