.footer
  .contents
    %ul.contents
      %li.content
        %h2.content__head GE COMPANY
        %ul
          %li.content= link_to '会社概要','/'
          %li.content= link_to 'プライバシーポリシー','/'
      %li.content
        %h2.content__head 言語一覧
        %ul
          %li.content= link_to '英語','/'
          %li.content= link_to '中国語','/'
          %li.content= link_to 'スペイン語','/'
          %li.content= link_to 'フランス語','/'
          %li.content= link_to 'イタリア語','/'   
      %li.contect
        %h2.content__head ヘルプ＆ガイド
        %ul
          %li.content= link_to 'アプリガイド','/'
          %li.content= link_to 'お知らせ','/'