.header
  .header_functions
    .left__part
      .logomark_app
        = link_to image_tag(asset_path("GElogo.png"), size: "80x80", class: "ge_logo"), root_path
      .logo__title GUNJINSAN ENGLSIH
    .middle_part
      .home-header__search-box
        = form_with(url: search_posts_path, local: true, method: :get, class: "form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "searchbox-input"
        = link_to search_posts_path do
          %button{type: "submit"}
            .search-btn
              = icon('fa','search')
    .right__part
      - if user_signed_in?
        .user_btn_logout_post
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          = link_to "投稿する", new_post_path, class: "post"
        .user_profile_image-header
          - if current_user.profile_image?
            = link_to image_tag(current_user.profile_image.to_s), user_path(current_user.id), method: :get
          - else
            = link_to image_tag(current_user.avatar.to_s), user_path(current_user.id), method: :get
      - else
        .user_btn_login_sign_up
          -# = link_to 'ゲスト(閲覧用）', users_guest_sign_in_path, method: :post, class: "post"
          = link_to "ログイン", new_user_session_path, class: "post"
          = link_to "新規登録", new_user_registration_path, class: "post"
    
          
        
  